
<div class="container theme-showcase" role="main">
  <div class="jumbotron">
    <h1>Bobby Right Back</h1>
    <p>So many interesting things to say.</p>

    <%= link_to 'Blog Posts', articles_path %>
  </div>
</div>